openai
langchain
langchain-openai
langchain-core
langchain-community
langchain-groq
langchainhub
streamlit
python-dotenv
requests
pypdf
bs4
wikipedia
langchain-anthropic
arxiv
duckduckgo-search
langchain-chroma
faiss-cpu
# chromadb
langchain-ollama
langserve
fastapi
uvicorn
sse_starlette

streamlit-lottie
google-search-results


tavily-python

pydantic_ai

langgraph

Ipython